// _float.scss

@mixin float-left() {
  float: left;
  @include deprecate("The `float-left` mixin", "v4.3.0", "v5");
}
@mixin float-right() {
  float: right;
  @include deprecate("The `float-right` mixin", "v4.3.0", "v5");
}
@mixin float-none() {
  float: none;
  @include deprecate("The `float-none` mixin", "v4.3.0", "v5");
}
