// _code.scss

// Inline code
@if $enable-amp-code {
	code {
	  @include font-size($code-font-size);
	  color: $code-color;
	  word-wrap: break-word;
	
	  // Streamline the style when inside anchors to avoid broken underline and more
	  a > & {
	    color: inherit;
	  }
	}
}

// User input typically entered via keyboard
@if $enable-amp-kbd {
	kbd {
	  padding: $kbd-padding-y $kbd-padding-x;
	  @include font-size($kbd-font-size);
	  color: $kbd-color;
	  background: $kbd-bg;
	  @include border-radius($border-radius-sm);
	  @include box-shadow($kbd-box-shadow);
	
	  kbd {
	    padding: 0;
	    @include font-size(100%);
	    font-weight: $nested-kbd-font-weight;
	    @include box-shadow(none);
	  }
	}
}

// Blocks of code
@if $enable-amp-pre {
	pre {
	  display: block;
	  padding: 1rem;
	  
	  @include font-size($code-font-size);
  
		@media (prefers-color-scheme: light) {
			color: $pre-color;
			background-color: $pre-bg;
			border: $border-width-base $border-style-solid $border-color;
		}
	
		@media (prefers-color-scheme: dark) {
			color: $pre-color-inverse;
			background-color: $pre-bg-inverse;
			border: $border-width-base $border-style-solid $border-color-inverse;
		}
	
	  // Account for some code outputs that place code tags in pre tags
	  code {
		  font-family: $code-font-family;
	    color: inherit;
	    word-break: normal;
	    text-indent: 5em;
	    
	    @include font-size(75%);
	  }
	}
}

// Enable scrollable blocks of code
@if $enable-amp-pre-scrollable {
	.pre-scrollable {
	  max-height: $pre-scrollable-max-height;
	  overflow-y: scroll;
	}
}