// _dropdown.scss

@if $enable-amp-dropdown {
	
	.dropup,
	.dropright,
	.dropdown,
	.dropleft {
	  //display: inline-block;
	  position: relative;
	}
	
	.dropdown-toggle {
	  white-space: nowrap;
	
	  // Generate the caret automatically
	  @include caret();
	}
	
	.dropdown-input {
	  display: none;
	}
	
	.dropdown-menu {
		// The dropdown menu
	  position: absolute;
	  top: 100%;
	  left: 0;
	  z-index: $zindex-dropdown;
	  display: none; // none by default, but block on "open" of the menu
	  float: left;
	  min-width: $dropdown-min-width;
	  padding: $dropdown-padding-y 0;
	  margin: $dropdown-spacer 0 0; // override default ul
	  text-align: left; // Ensures proper alignment if parent has it changed
	  list-style: none;
	  background-clip: padding-box;
		border: $dropdown-border-width solid $dropdown-border-color;
		
	  @include font-size($dropdown-font-size);
	  @include border-radius($dropdown-border-radius);
		@include box-shadow($dropdown-box-shadow);
		
		@media (prefers-color-scheme: light) {
			color: $dropdown-color;
			background: $dropdown-bg;
		}
	
		@media (prefers-color-scheme: dark) {
			color: $dropdown-color-inverse;
			background: $dropdown-bg-inverse;
		}
	}
	
	@each $amp-breakpoint in map-keys($amp-grid-breakpoints) {
	  @include media-breakpoint-up($amp-breakpoint) {
	    $infix: breakpoint-infix($amp-breakpoint, $amp-grid-breakpoints);
	
	    .dropdown-menu#{$infix}-left {
	      right: auto;
	      left: 0;
	    }
	
	    .dropdown-menu#{$infix}-right {
	      right: 0;
	      left: auto;
	    }
	  }
	}
	
	.dropdown-input {
	  + .dropdown-menu {
	    display: none;
	  }
	
	  &:checked + .dropdown-menu {
	    display: block;
	  }
	}
	
	.dropdown-toggle {
	  white-space: nowrap;
	
	  // Generate the caret automatically
	  @include caret();
	}
	
	
	
	// Allow for dropdowns to go bottom up (aka, dropup-menu)
	// Just add .dropup after the standard .dropdown class and you're set.
	.dropup {
	  .dropdown-menu {
	    top: auto;
	    bottom: 100%;
	    margin-top: 0;
	    margin-bottom: $dropdown-spacer;
	  }
	
	  .dropdown-toggle {
	    @include caret(up);
	  }
	}
	
	.dropright {
	  .dropdown-menu {
	    top: 0;
	    right: auto;
	    left: 100%;
	    margin-top: 0;
	    margin-left: $dropdown-spacer;
	  }
	
	  .dropdown-toggle {
	    @include caret(right);
	    &::after {
	      vertical-align: 0;
	    }
	  }
	}
	
	.dropleft {
	  .dropdown-menu {
	    top: 0;
	    right: 100%;
	    left: auto;
	    margin-top: 0;
	    margin-right: $dropdown-spacer;
	  }
	
	  .dropdown-toggle {
	    @include caret(left);
	    &::before {
	      vertical-align: 0;
	    }
	  }
	}
	
	// When enabled Popper.js, reset basic dropdown position
	// stylelint-disable-next-line no-duplicate-selectors
	.dropdown-menu {
	  &[x-placement^="top"],
	  &[x-placement^="right"],
	  &[x-placement^="bottom"],
	  &[x-placement^="left"] {
	    right: auto;
	    bottom: auto;
	  }
	}
	
	// Dividers (basically an `<hr>`) within the dropdown
	.dropdown-divider {
	  @include nav-divider($dropdown-divider-bg, $dropdown-divider-margin-y, true);
	}
	
	// Links, buttons, and more within the dropdown menu
	//
	// `<button>`-specific styles are denoted with `// For <button>s`
	.dropdown-item {
	  display: block;
	  width: 100%; // For `<button>`s
	  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
	  clear: both;
	  font-weight: $font-weight-base;
	  text-align: inherit; // For `<button>`s
	  white-space: nowrap; // prevent links from randomly breaking onto new lines
	  background: transparent; // For `<button>`s
	  border: 0; // For `<button>`s
		
		@media (prefers-color-scheme: light) {
			color: $dropdown-link-color;
		}
	
		@media (prefers-color-scheme: dark) {
			color: $dropdown-link-color-inverse;
		}
	
	  // Prevent dropdown overflow if there's no padding
	  // See https://github.com/twbs/bootstrap/pull/27703
	  @if $dropdown-padding-y == 0 {
	    &:first-child {
	      @include border-top-radius($dropdown-inner-border-radius);
	    }
	
	    &:last-child {
	      @include border-bottom-radius($dropdown-inner-border-radius);
	    }
	  }
	
	  @include hover-focus() {
			text-decoration: none;
		
			@media (prefers-color-scheme: light) {
				color: $dropdown-link-hover-color;
			
				@include gradient-bg($dropdown-link-hover-bg);
			}
		
			@media (prefers-color-scheme: dark) {
				color: $dropdown-link-hover-color-inverse;
			
				@include gradient-bg($dropdown-link-hover-bg-inverse);
			}
	  }
	
	  &.active,
	  &:active {
			text-decoration: none;
		
			@media (prefers-color-scheme: light) {
				color: $dropdown-link-active-color;
			
				@include gradient-bg($dropdown-link-active-bg);
			}
		
			@media (prefers-color-scheme: dark) {
				color: $dropdown-link-active-color-inverse;
			
				@include gradient-bg($dropdown-link-active-bg-inverse);
			}
	  }
	
	  &.disabled,
	  &:disabled {
	    pointer-events: none;
			background: transparent;
			
	    // Remove CSS gradients if they're enabled
	    @if $enable-amp-gradients {
	      background-image: none;
	    }
		
			@media (prefers-color-scheme: light) {
				color: $dropdown-link-disabled-color;
			}
		
			@media (prefers-color-scheme: dark) {
				color: $dropdown-link-disabled-color-inverse;
			}
	  }
	}
	
	.dropdown-menu.show {
	  display: block;
	}
	
	// Dropdown section headers
	.dropdown-header {
	  display: block;
	  padding: $dropdown-padding-y $dropdown-item-padding-x;
	  margin-bottom: 0; // for use with heading elements
		white-space: nowrap; // as with > li > a
		
	  @include font-size($font-size-sm);
		
		@media (prefers-color-scheme: light) {
			color: $dropdown-header-color;
		}
	
		@media (prefers-color-scheme: dark) {
			color: $dropdown-header-color-inverse;
		}
	}
	
	// Dropdown text
	.dropdown-item-text {
	  display: block;
	  padding: $dropdown-item-padding-y $dropdown-item-padding-x;
		
		@media (prefers-color-scheme: light) {
			color: $dropdown-link-color;
		}
	
		@media (prefers-color-scheme: dark) {
			color: $dropdown-link-color-inverse;
		}
	}
}