// _progress.scss

// Disable animation if transitions are disabled
@if $enable-amp-transitions {
  @keyframes progress-bar-stripes {
    from { background-position: $progress-height 0; }
    to { background-position: 0 0; }
  }
}

@if $enable-amp-progress {
	.progress {
	  display: flex;
	  height: $progress-height;
	  overflow: hidden; // force rounded corners by cropping it
	  @include font-size($progress-font-size);
	  background: $progress-bg;
	  @include border-radius($progress-border-radius);
	  @include box-shadow($progress-box-shadow);
	}
	
	.progress-bar {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  overflow: hidden;
	  color: $progress-bar-color;
	  text-align: center;
	  white-space: nowrap;
	  background: $progress-bar-bg;
	  @include transition($progress-bar-transition);
	}
}

@if $enable-amp-progress-bar-striped {
	.progress-bar-striped {
	  @include gradient-striped();
	  background-size: $progress-height $progress-height;
	}
}
@if $enable-amp-progress-bar-animated {
	@if $enable-amp-transitions {
	  .progress-bar-animated {
	    animation: progress-bar-stripes $progress-bar-animation-timing;
	
	    @if $enable-amp-prefers-reduced-motion-media-query {
	      @media (prefers-reduced-motion: reduce) {
	        animation: none;
	      }
	    }
	  }
	}
}