// _transition.scss

@if $enable-amp-transition-fade {
	.fade {
	  @include transition($transition-fade);
	
	  &:not(.show) {
	    opacity: 0;
	  }
	}
}

@if $enable-amp-transition-collapse {
	.collapse {
	  &:not(.show) {
	    display: none;
	  }
	}
}
@if $enable-amp-transition-collapsing {
	.collapsing {
	  position: relative;
	  height: 0;
	  overflow: hidden;
	  @include transition($transition-collapse);
	}
}