// _web-push-notification.scss (amp.dev)

@if $enable-amp-web-push-notification {
  amp-web-push-widget button.subscribe {
    display: inline-flex;
    align-items: center;
    border-radius: $border-radius;
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 8px 15px;
    cursor: pointer;
    outline: none;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  amp-web-push-widget button.subscribe .subscribe-icon {
    margin-right: 10px;
  }

  amp-web-push-widget button.subscribe:active {
    transform: scale(0.99);
  }

  amp-web-push-widget button.unsubscribe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    font-size: $font-size-base;
    font-weight: $font-weight-base;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}