// _print.scss

// Source: https://github.com/h5bp/main.css/blob/master/src/_print.css

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// ==========================================================================

@if $enable-amp-print-styles {
  @media print {
    *,
    *::before,
    *::after {
      // Bootstrap specific; comment out `color` and `background`
      //color: $black; // Black prints faster
      text-shadow: none;
      //background: transparent;
      box-shadow: none;
    }

    a {
      &:not(.btn) {
        text-decoration: underline;
      }
    }

    // Bootstrap specific; comment the following selector out
    //a[href]::after {
    //  content: " (" attr(href) ")";
    //}

    abbr[title]::after {
      content: " (" attr(title) ")";
    }

    // Bootstrap specific; comment the following selector out
    //
    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
    //

    //a[href^="#"]::after,
    //a[href^="javascript:"]::after {
    // content: "";
    //}

    pre {
      white-space: pre-wrap;
    }
    
    pre,
    blockquote {
      border: $border-width solid $gray-500; // Bootstrap custom code; using `$border-width` instead of 1px
      page-break-inside: avoid;
    }

    //
    // Printing tbls:
    // https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_tbls
    //
    @if $enable-amp-table {
	    thead {
	      display: tbl-header-group;
	    }
	    
	    tr {
      	page-break-inside: avoid;
      }
	  }
	  
    img,
    amp-img {
      page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }

    // Bootstrap specific changes start

    // Specify a size and min-width to make printing closer across browsers.
    // We don't set margin here because it breaks `size` in Chrome. We also
    // don't use `!important` on `size` as it breaks in Chrome.
    @page {
      size: $print-page-size;
    }
    body {
      min-width: $print-body-min-width;
    }
    .container {
      min-width: $print-body-min-width;
    }

    // Bootstrap components
    @if $enable-amp-navbar {
	    .navbar {
	      display: none;
	    }
	  }
    
    @if $enable-amp-badge {
	    .badge {
	      border: $border-width solid $black;
	    }
	  }
	  
	  @if $enable-amp-table {
	    .table {
	      border-collapse: collapse;
	
	      td,
	      th {
	        background: $white;
	      }
	    }
	
	    .table-brd {
	      th,
	      td {
	        border: 1px solid $gray-300;
	      }
	    }
	
	    .table-dark {
	      color: inherit;
	
	      th,
	      td,
	      thead th,
	      tbody + tbody {
	        border-color: $table-border-color;
	      }
	    }
	
	    .table .thead-dark th {
	      color: inherit;
	      border-color: $table-border-color;
	    }
	  }

    // Bootstrap specific changes end
  }
}
