@if $enable-amp-backgrounds {
	@each $color, $value in $amp-theme-colors {
	  @include bg-variant(".bg-#{$color}", $value, true);
	}
}

@if $enable-amp-gradients {
  @each $color, $value in $amp-theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}