
// Width and height

@if $enable-amp-sizing {
	@each $prop, $abbrev in (width: w, height: h) {
	  @each $amp-size, $length in $amp-sizes {
	    .#{$abbrev}-#{$amp-size} { #{$prop}: $length; }
	  }
	}

	.mw-100 { max-width: 100%; }
	.mh-100 { max-height: 100%; }
	
	// Viewport additional helpers
	
	.min-vw-100 { min-width: 100vw; }
	.min-vh-100 { min-height: 100vh; }
	
	.vw-100 { width: 100vw; }
	.vh-100 { height: 100vh; }
}